
<div class="jumbotron">
    <h2><span class='homeh1color1'><%= "#{locals[:zone].upcase}" %></span>: Persone Intervistate </h2>
</div>

<div class="row">
  <div class="col-md-6">
     <%#= pie_chart({"Female" => @females, "Male" => @males}) %>
     <%= users_by_sex %>
  </div>
   <div class="col-md-6">
     <%= users_by_age %>   
  </div>
</div><br/>

<%# if locals[:zone] == "sud sardegna" %>
<!-- removed for all the provinces 
     <div class="jumbotron">
        <h2>Area Geografica: <span class='homeh1color1'><%#= " #{(locals[:zone]).upcase}" %></span></h2>
    </div>
    
    <div class="row">
         <div class"col-md-6">
             <%#= users_by_place %>
         </div>
     </div>
     --->
<%# end %>