  

<div class="jumbotron">
    <h2>People interviewed</h2>
</div>

<div class="row">
  <div class="col-md-6">
     <%#= pie_chart({"Female" => @females, "Male" => @males}) %>
     <%= users_by_sex %>
  </div>
   <div class="col-md-6">
     <%= users_by_age %>   
  </div>
</div><br/>

<div class="jumbotron">
    <h2>Collection Point: Medio Campidano</h2>
</div>

<div class="row">
     <div class"col-md-6">
         <%= users_by_place %>
     </div>
 </div> 
  


